@-webkit-keyframes zero-run-init {
    from { background-position: 0px 0px; }
    to { background-position: -110px 0px; }
}

@-webkit-keyframes zero-run {
    from { background-position: -110px 0px; }
    to { background-position: -770px 0px; }
}

@-webkit-keyframes zero-stand {
    from { background-position: 0px -50px; }
    to { background-position: -110px -50px; }
}

@-webkit-keyframes zero-jump {
  from { background-position: 0px -100px; }
  to { background-position: -385px -100px; }
}

@-webkit-keyframes fog-fade {
  0% { opacity: 0; }
  20 { opacity: 0.3; }
  40% { opacity: 1.0; }
  60% { opacity: 0.6; }
  100% { opacity: 0; }
}

body {
  background: black;
}

#viewport {
  background-image: url("../images/bg.png");
  width: 1000px;
  height: 224px;

  margin: 0 auto;
  position: relative;
}

#fog {
  background-image: url("../images/fog.png");
  width: 100%;
  height: 100%;

  position: absolute;
  -webkit-animation: fog-fade 5s linear infinite;
}

#zero {
    background-image: url("../images/zero.png");
    width: 55px;
    height: 50px;

    position: absolute;
    left: 475px;
    top: 145px;

    /*
    background-position: -815px -660px;
    */

    /*
    -webkit-animation:
        zero-run-init 0.8s steps(5, end) 1,
        zero-run 1s steps(8, end) infinite;
    */
}


.standstill {
  -webkit-animation: zero-stand 1s steps(2, end) infinite;
}

.running {
  -webkit-animation: zero-run-init 0.2s steps(2, end) 1, zero-run 1.2s steps(12, end) infinite;
}

.go-left {
  -webkit-transform: rotateY(180deg);
}

.jump {
  height: 100px !important;
  -webkit-animation: zero-jump 0.8s steps(7, end) 1;
}
